.language_selector {
    display: block;
    padding: 5px 5px 10px 5px;
}

.language_selector > div {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5px;
}

.language_selector > div button {
    font-size: 10px;
    flex-grow: 1;
    width: 100px;
}

.hidden {
    display: hidden;
}